@import '../../variables.scss';

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    nav a{
        margin-right: 20px;
        span{
            display: inline-block;
            width: 1px;
            height: 12px;
            background-color: $grey;
            margin-left: 15px;
        }
    }
    .active{
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

