#github, #linkedIn,#mail{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 10px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    &:hover{
        opacity: 1;
    }
}

#github{
    background-image: url(../images/github.svg);
}

#linkedIn{
    background-image: url(../images/linkedIn.svg);
}

#mail{
    background-image: url(../images/gmail.svg);
}