@import './fonts.scss';
@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    color: $white;
    background-color: $black;
    font-family: 'Lato', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

h1{
    font-family: 'Inconsolata', monospace;
    font-size: 6.5rem;
}

h2{
    font-size: 2rem;
    letter-spacing: .15rem;
}

h3{
    font-size: 3rem;
    letter-spacing: .15rem;
}


a{
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;
}

span{
    color: $orange;
}

main{
    margin: 20px;
}