/* 
font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
*/

@font-face {
    font-family: 'Lato';
    src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Inconsolata';
    src: url(./assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}